body {
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}
#main-menu {
	background: white;
	height: 100%;  
    display: block;  
    position: fixed;  
    width: 300px;  
    left: 0px;  
    top: 0px;  
    z-index: 0;
    display: none;
}
#main-menu.open { display: block; }
#main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #CCC;
}
#main-menu ul li {
	color: #111;
	font-weight: bold;
	background: -webkit-linear-gradient( white , #F1F1F1 );
	border-top: 1px solid #CCC;
}
#main-menu li:hover, #main-menu li:active {
	background: -webkit-linear-gradient( #F6F6F6, #E0E0E0 );
}
#main-menu ul li[data-role="list-divider"] {
	background: -webkit-linear-gradient( #6FACD5, #497BAE );
	color: white;
	font-size: 14px;
	padding: 13px 15px;
}
#main-menu ul li a {
	text-decoration: none;
	color: #111;
	display: block;
	height: 100%;
	width: 100%;
	padding: 12px 15px;
}
#main-page {
	position: relative;  
    left: 0;  
    width: 100%;   
    z-index: 99999;
    background: white;
    background: -webkit-linear-gradient( #F9F9F9, #EEE );
}
#main-page header, #main-page footer {   
    display: block;   
    z-index: 9999;   
    background: #111;
    background: -webkit-gradient(linear, left top, left bottom, from(#3C3C3C), to(#111));    
    height: 44px;   
    width: 100%;     
}
#main-page header h1, #main-page footer h4 {   
    text-align: center;     
    padding-right: 40px;   
    color: white;   
    font-weight: bold;   
    font-size: 16px;
    margin:0;
}
.menu-toggle {
	color: white;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 5px;
	display: block;
	background: -webkit-linear-gradient(#444, #2D2D2D);
	padding: 8px 20px;
	font-size: 13px;
	text-decoration: none;
	border: 1px solid #000;
}
.menu-toggle.hover, .menu-toggle:hover {
	background: -webkit-linear-gradient(#555, #3D3D3D);
	border-color: #222;
}
#main-page .content {
	padding: 15px;
}
.ui-hide-label { position: relative; }
.ui-hide-label input.ui-input-text, .ui-hide-label textarea.ui-input-text { width: 40%; }
.ui-hide-label label {
	position: absolute !important;
	left: -9999px;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}
.ui-hide-label .tooltip {
	display:none; text-shadow:none; position: absolute; 
	font-size: 85%; background: #555; top: 2px; left: auto;
	color: white; padding: 3px 10px; border-radius: 5px;
}
.ui-hide-label label.ui-input-text.watermark { left: 7px; top: 7px; clip: auto; width: auto; }

.ui-page-active[data-role="nav"] { z-index: 9; }
.ui-page-active[data-role="page"] { z-index: 999; }

input, textarea { float:left; width: 50%; }

/*input, textarea { background-color:#f9f9f9; border: 1px solid #aaa; border-radius:9px;
	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, .2); box-sizing: border-box;
	background-image: none; padding: .4em; margin: .5em 0; line-height: 1.4;
	font-size: 16px; display: block; width: 40%; outline: 0; font-family: Helvetica, Arial, sans-serif;
	float: left; }
input.focused, textarea.focused {
	background: white;
	-moz-box-shadow: 0px 0px 12px #387bbe;
	-webkit-box-shadow: 0px 0px 12px #387BBE;
	box-shadow: 0px 0px 12px #387BBE;
	outline: none;
}
input[disabled="disabled"], textarea[disabled="disabled"] {
	background:#eee;
}*/
input:invalid, textarea:invalid {
	background: #F0DDDD;
}
input.sync-error, textarea.sync-erorr {
	border: 1px solid red;
}
input.sync-error:focused, textarea.sync-error:focused {
	background: white;
	-moz-box-shadow: 0px 0px 12px red;
	-webkit-box-shadow: 0px 0px 12px red;
	box-shadow: 0px 0px 12px red;
	outline: none;
}
.sync-message {
	display: none;
	padding: 0px 0 15px;
}
.sync-message.sync-error {
	color: red;
}
.sync-message.sync-success {
	color: green;
}
.sync-label {
	float: left;
	color: red;
	border: 1px solid red;
	background: white;
	border-radius: 5px;
	padding: 3px 5px;
	font-weight: bold;
	margin: 1px 0 0 10px;
	cursor: pointer;
}
.sync-label.sync-success {
	color: green;
	border-color: green;
}
.sync-label.sync-error {
	color: red;
	border-color: red;
}

/* Animation */

.animated {
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 0.25s;
}

@-webkit-keyframes slideOut {
    0% { -webkit-transform: translateX(0px); }
	100% { -webkit-transform: translateX(290px); }
}
.slideOut {
    -webkit-animation-name: slideOut;
    -webkit-animation-timing-function: linear;
}


@-webkit-keyframes slideOutRev {
    0% { -webkit-transform: translateX(290px); }
	100% { -webkit-transform: translateX(0px); }
}
.slideOutRev {
    -webkit-animation-name: slideOutRev;
    -webkit-animation-timing-function: linear;
}


/* Media Queries */
@media ( max-width: 449px ) {
	.ui-hide-label label.ui-input-text { top: 20px; }
	.ui-hide-label .tooltip { top: 15px; }

	.tooltip {}
}

/* utils */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}