body {
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
  background: #f9f9f9;
}
div[data-role="header"] {   
    display: block;   
    z-index: 9999;   
    background: #111;
    height: 44px;   
    width: 100%;     
}
div[data-role="header"] h1 {   
    text-align: center;     
    padding-right: 40px;   
    color: white;   
    font-weight: bold;   
    font-size: 16px;
    margin:0;
}

.page {
  padding-top: 20px;
}
input { height:32px !important; }
input, textarea { float:left; width: 60%; box-sizing: border-box; }

input:invalid, textarea:invalid {
	background: #F0DDDD;
}
input.sync-warning, textarea.sync-warning {
	border:1px solid #FBEED5;
	background: #FCF8E3;
	box-shadow: none;
}
input.sync-error, textarea.sync-erorr, input.sycn-warning.sync-error, textarea.sync-warning.sync-error {
	border: 1px solid #EED3D7;
	background: #F0DDDD;
	box-shadow: none;
}
input.sync-success, textarea.sync-success {
	border: 1px solid #D6E9C6;
	background: #DFF0D8;
	box-shadow: none;
}
input.sync-error:focused, textarea.sync-error:focused {
	background: white;
	-moz-box-shadow: 0px 0px 12px red;
	-webkit-box-shadow: 0px 0px 12px red;
	box-shadow: 0px 0px 12px red;
	outline: none;
}
.alert {
	margin-bottom: 10px;
}
.sync-message {
	display: none;
	box-sizing: border-box;
	width: 60%;
}
.sync-accept {
	float: left;
	border: 1px solid #B94A48;
	border-radius: 5px;
	padding: 4px 5px 5px;
	margin: 0 0 0 10px;
	cursor: pointer;
	box-shadow: 0 1ox 1px rgba(0,0,0,0.2);
}
.sync-accept:hover {
	background-color: #f9eded;
}
.sync-accept.sync-success {
	color: green;
	border-color: green;
}
.sync-accept.sync-error {
	color: red;
	border-color: red;
}

/* utils */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}