body {
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background: #f9f9f9;
}

.page {
  padding-top: 20px;
}
label, input, .sync-message, .button-group {
  clear: left;
}
input { height:32px !important; }
input, textarea { float:left; width: 60%; box-sizing: border-box; }

input.sync-warning, textarea.sync-warning {
  border:1px solid #FBEED5;
  background: #FCF8E3;
  box-shadow: none;
}
input.sync-error, textarea.sync-erorr, input.sycn-warning.sync-error, textarea.sync-warning.sync-error {
  border: 1px solid #EED3D7;
  background: #F0DDDD;
  box-shadow: none;
}
input.sync-success, textarea.sync-success {
  border: 1px solid #D6E9C6;
  background: #DFF0D8;
  box-shadow: none;
}

.sync-message {
  display: none;
}
.sync-resolve {
  float: left;
  border: 1px solid ##b94a48;
  border-radius: 5px;
  padding: 4px 5px 5px;
  margin: 0 0 0 10px;
  cursor: pointer;
  box-shadow: 0 1ox 1px rgba(0,0,0,0.2);
}
.sync-resolve:hover {
  background-color: #f9eded;
}