<header data-role="header">
	<a href="#" data-icon="grid" class="menu-toggle">Menu</a>
	<h1>Home</h1>
</header><!-- /header -->
<div data-role="content" class="content">
	<h2>Welcome to the home page!</h2>
	<img src="http://placehold.it/320x160">
	<p>Ex lomo ethnic mixtape PBR. Lomo nulla etsy vegan next level mlkshk. Aliquip seitan nihil, lo-fi placeat non pork belly polaroid. Non wes anderson ea four loko narwhal. Master cleanse organic commodo echo park, you probably haven't heard of them hella synth stumptown cliche. Cliche wolf direct trade photo booth exercitation, veniam post-ironic farm-to-table kogi consequat seitan polaroid. Pinterest est non cliche accusamus.</p>

	<p>Vero retro assumenda jean shorts. Truffaut leggings locavore, exercitation stumptown farm-to-table carles iphone esse pickled. Polaroid tempor leggings hella 3 wolf moon food truck, fugiat truffaut iphone. Dolore +1 aesthetic, banh mi biodiesel artisan nisi esse chillwave twee. American apparel bushwick letterpress, nisi jean shorts occaecat quinoa wayfarers. Aute organic pour- over portland viral, laboris keffiyeh you probably haven't heard of them quinoa sint sustainable brooklyn. +1 cupidatat put a bird on it pinterest magna.</p>
</div><!-- /content -->
<footer data-role="footer">
	<h4>Page Footer</h4>
</footer><!-- /footer -->