<div class="content">
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="people">People</label>
		<input type="number" name="people" id="people" value="{{people}}" placeholder="People" data-sync="people" />
	</div>
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="currency">Currency</label>
		<input type="text" name="currency" id="currency" value="{{currency}}" placeholder="Currency" data-sync="currency"/>
	</div>
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="price">Price</label>
		<input type="number" name="price" id="price" value="{{price}}" placeholder="price" data-sync="price" />
	</div>
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="per">Per Person</label>
		<input type="number" name="per" id="per" value="{{per}}" placeholder="Per Person" data-sync="per" />
	</div>
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="tel">Telephone</label>
		<input type="tel" name="tel" id="tel" value="" placeholder="Phone Number" />
	</div>
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="dob">Date of Birth</label>
		<input type="date" name="dob" id="dob" value="" placeholder="Date of Birth" />
	</div>
	<div class="sync-message sync-error alert alert-error">*The highlighted fields have changed since you last checked them out of the database.
		<br>Please resolve the conflicts above by clicking which version you would like to use.
		<br>Once all conflicts are resolved, click Submit.</div>
	<div class="sync-message sync-success alert alert-success">Conflicts resolved. Click "Submit" to commit your changed.</div>
	<button class="btn sync-cancel">Cancel</button>
	<button class="btn btn-primary sync-save">Save</button>
</div>