<header data-role="header">
	<h1>Home</h1>
</header><!-- /header -->
<div data-role="content" class="content">
	<span class="response-label"></span>
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="first">First Name</label>
		<input type="text" name="first" id="first" value="{{first}}" placeholder="First Name"/>
	</div>
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="last">Last Name</label>
		<input type="text" name="last" id="last" value="{{last}}" placeholder="Last Name"/>
	</div>
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="city">City</label>
		<input type="text" name="city" id="city" value="{{city}}" placeholder="City"/>
	</div>
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="state">State</label>
		<input type="text" name="state" id="state" value="{{state}}" placeholder="State"/>
	</div>
	<div data-role="fieldcontain" class="ui-hide-label cf">
		<label for="bio">Biography</label>
		<textarea name="bio" id="bio" placeholder="Biography" rows="6">{{bio}}</textarea>
	</div>
	<div class="error">*The highlighted fields have changed since you last checked them out of the database.
		<br>Please resolve the conflicts above by selecting which version you would like to use.
		<br>Once all conflicts are resolved, click Submit.</div>
	<div class="success">Conflicts resolved. Click "Submit" to commit your changed.</div>
	<a href="#" class="cancel ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left ui-btn-up-c" data-role="button" data-inline="true" data-icon="delete" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Cancel</span><span class="ui-icon ui-icon-delete ui-icon-shadow">&nbsp;</span></span></a> 
	<a href="#" class="save ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-left ui-btn-up-b" data-role="button" data-inline="true" data-icon="check" data-theme="b" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Save</span><span class="ui-icon ui-icon-check ui-icon-shadow">&nbsp;</span></span></a>
</div><!-- /content -->
<footer data-role="footer">
	<h4>Page Footer</h4>
</footer><!-- /footer -->